* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f6ff;
}

.container {
  width: 60vw;
  height: 80vh;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.sidebar {
  background-image: url(/assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: center center;
  height: 100%;
  border-radius: 1rem;
  width: 30%;
}

.right {
  flex-grow: 1;
  height: 100%;
  padding: 2rem 12rem 4rem 4rem;
}

.main {
  flex-grow: 1;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main ::selection {
  background-color: #473dff;
  color: #f0f6ff;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  padding: 4rem;
  justify-content: flex-start;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.stepinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.32rem;
}

.stepNum {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #f0f6ff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  transition: 300ms ease;
}

.planInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
}

.stepNum.activeNum {
  background-color: white;
  color: #473dff;
}

.planOption.activePlan,
.addOnOption.activePlan {
  border: 2px solid #473dff;
}

.stepnum {
  font-size: 1.2rem;
  color: #9699ab;
}

.stepTitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f0f6ff;
}

.titlecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.titlecontainer h2 {
  font-size: 2.4rem;
  color: #02295a;
}
.titlecontainer p {
  font-size: 1.4rem;
  color: #9699ab;
}

.main {
  height: 100%;
}
.main .titlecontainer,
.main .buttoncont {
  flex-grow: 1;
}
.main form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.main .plansContainer {
  height: 30rem;
  flex-direction: column;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.main form input {
  width: 100%;
  padding: 1.4rem;
  border-radius: 0.5rem;
  border: 2px solid #d6d9e6;
}
.main form input::placeholder {
  color: #9699ab;
}
.main form input:focus {
  outline: 1px solid #473dff;
}
.main form input:focus:invalid {
  outline: 1px solid red;
}
.main form input:focus:valid {
  outline: 1px solid greenyellow;
}
.main form label {
  font-size: 1.2rem;
  color: #02295a;
  font-weight: 700;
  letter-spacing: 1px;
}

@keyframes free {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.planToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #f8f9fe;
}
.planToggle input {
  appearance: none;
  transition: 500ms ease;
  padding: 1rem 2rem;
  position: relative;
  border-radius: 2rem;
  background-color: #02295a;
}
.planToggle input::before {
  content: "";
  width: 1.5rem;
  transition: 300ms ease;
  display: flex;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
}
.planToggle input:checked {
  background-color: #473dff;
}
.planToggle input:checked::before {
  transform: translate(2.1rem, -50%);
  top: 50%;
}
.planToggle input:checked + p {
  color: #02295a;
}
.planToggle p {
  font-size: 1.4rem;
  color: #9699ab;
  transition: 300ms ease;
  font-weight: bold;
}
.planToggle p.activeTime {
  color: #02295a;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}

.planOption {
  flex-basis: 33%;
  transition: 300ms ease;
  border: 2px solid #d6d9e6;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 15rem;
}
.planOption h3 {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  color: #02295a;
}
.planOption p {
  font-size: 1.2rem;
  color: #9699ab;
}

.buttoncont {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}
.buttoncont button {
  background-color: #02295a;
  color: #f0f6ff;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 300ms ease;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  margin-top: 4rem;
}
.buttoncont button:hover {
  background-color: #473dff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;
}

@keyframes container {
  from {
    opacity: 0;
    transform: rotateY(-100deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
.buttons .buttoncont {
  flex-grow: initial;
}
.buttons .buttoncont button {
  margin-top: 0;
}

.gobackBtn {
  background-color: transparent;
  color: #9699ab;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 300ms ease;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
}
.gobackBtn button {
  background-color: transparent;
  border: none;
  color: #9699ab;
  cursor: pointer;
  font-weight: 700;
}

#main4 .buttoncont button {
  background-color: #473dff;
  border-radius: 0.5rem;
  border: none;
}

.gobackBtn:hover {
  background-color: #d6d9e6;
}

#main1 {
  display: flex;
}

#main2,
#main3,
#main4 {
  display: none;
}

.free {
  font-size: 1.2rem;
  color: #02295a !important;
  margin-top: 5px;
  font-weight: bold;
  display: none;
  animation: free 500ms ease 0s 1 normal forwards;
}

.addOnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  flex-direction: column;
  gap: 2rem;
}

.addOnOption {
  width: 100%;
  border: 2px solid #d6d9e6;
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  transition: 300ms ease-out;
  cursor: pointer;
  justify-content: space-between;
}
.addOnOption .addOnPrice {
  color: #473dff;
  font-size: 1.2rem;
}
.addOnOption .addOnInfo {
  display: flex;
  width: 70%;
  gap: 0.5rem;
  flex-direction: column;
}
.addOnOption .addOnInfo h3 {
  font-size: 1.4rem;
  color: #02295a;
  font-weight: bold;
}
.addOnOption .addOnInfo p {
  font-size: 1.2rem;
  color: #9699ab;
}
.addOnOption input {
  width: 1.8rem;
  height: 1.8rem;
  pointer-events: none;
  transition: 300ms ease;
}
.addOnOption input:checked {
  accent-color: #473dff;
}

.summaryContainer,
.chosenPlan,
.addonsSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mainsummary,
.chosenAddon,
.totalPriceSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.summaryContainer {
  height: 70%;
  padding: 2rem;
  margin-top: 4rem;
  justify-content: flex-start;
}

.mainsummary {
  padding: 2rem;
  background-color: #f8f9fe;
  justify-content: space-between;
  border-bottom: 0.5px solid #9699ab;
  border-radius: 0.5rem;
}

.chosenPlan {
  width: fit-content;
  gap: 0.2rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.chosenPlan h3 {
  font-size: 1.4rem;
  color: #02295a;
}
.chosenPlan a {
  color: #9699ab;
}
.chosenPlan a:visited {
  color: #9699ab;
}

.chosenAddon {
  padding: 1.4rem 2rem;
  background-color: #f8f9fe;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.chosenAddon .chosenAddonName {
  color: #9699ab;
}
.chosenAddon .chosenAddonPrice {
  font-size: 1.2rem;
  color: #02295a;
  font-weight: bold;
}

.addonsSummary {
  margin-bottom: 2rem;
}

.totalPriceSummary {
  padding-left: 2rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
}
.totalPriceSummary .totaltext {
  font-size: 1.4rem;
  color: #9699ab;
}
.totalPriceSummary .totalPrice {
  font-size: 1.6rem;
  color: #473dff;
  font-weight: bold;
}

.chosenPrice {
  font-size: 1.4rem;
  color: #02295a;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
